$c_w:#fff !default; 
$c_f:#000 !default;

// 按钮
$btn-primary:rgb(121, 106, 238) !default;
$btn-default: rgb(134, 142, 150) !default;


// 边框
$c-bdr:5px !default;
$c-dir:3px !default;
$c-bd-dark:rgba(0,0,0,0.1) !default;
$border-dark:1px solid $c-bd-dark !default;

// 字体
$c-font:.24rem !default;

